alembic==1.4.1
altair==4.1.0
argon2-cffi==21.1.0
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1633274821480/work
astor==0.8.1
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.zoneinfo==0.2.1
base58==2.1.0
bleach==4.1.0
blinker==1.4
blis==0.7.5
Boruta==0.3
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
cftime @ file:///D:/bld/cftime_1636281015942/work
charset-normalizer==2.0.7
click==7.1.2
cloudpickle==2.0.0
cmdstanpy==0.9.68
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlover==0.3.0
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1615678826465/work
cufflinks==0.17.3
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.6
Cython @ file:///D:/bld/cython_1638830072925/work
databricks-cli==0.16.2
debugpy==1.5.1
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docker==5.0.3
docopt==0.6.2
entrypoints==0.3
ephem @ file:///D:/bld/ephem_1639414247578/work
et-xmlfile==1.1.0
Flask==2.0.2
fonttools @ file:///D:/bld/fonttools_1638544517672/work
funcy==1.16
future==0.18.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
greenlet==1.1.2
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1632549476122/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1632959329709/work
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916848487/work
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi @ file:///C:/ci/jedi_1611315808330/work
Jinja2==3.0.2
joblib==1.0.1
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///C:/ci/jupyter_core_1633420665940/work
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==1.0.2
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
kmodes==0.11.1
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
lightgbm==3.3.0
llvmlite==0.36.0
LunarCalendar==0.0.9
lxml==4.7.0
Mako==1.1.5
MarkupSafe @ file:///C:/ci/markupsafe_1621528314575/work
matplotlib @ file:///D:/bld/matplotlib-suite_1639359275746/work
matplotlib-inline==0.1.3
missingno==0.5.0
mistune==0.8.4
mlflow==1.20.2
mlxtend==0.19.0
multimethod==1.6
munkres==1.1.4
murmurhash==1.0.6
nbclient==0.5.4
nbconvert==6.2.0
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
netCDF4 @ file:///D:/bld/netcdf4_1636303174001/work
networkx==2.6.3
nltk==3.6.5
notebook==6.4.5
numba==0.53.1
numexpr==2.7.3
numpy @ file:///D:/bld/numpy_1636145500119/work
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
packaging @ file:///tmp/build/80754af9/packaging_1625611678980/work
pandas @ file:///D:/bld/pandas_1639398359434/work
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
patsy==0.5.2
phik==0.12.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///D:/bld/pillow_1636558975346/work
pipreqs==0.4.11
plac==1.1.3
plotly==5.3.1
preshed==3.0.6
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1623189609245/work
prometheus-flask-exporter==0.18.4
prompt-toolkit==3.0.21
prophet @ file:///D:/bld/prophet_1618853394287/work
protobuf==3.19.0
pyarrow==6.0.0
pycaret==2.3.4
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.8.2
pydeck==0.7.1
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pyLDAvis==3.2.2
PyMeeus==0.5.11
Pympler==1.0.1
pynndescent==0.5.5
pyod==0.9.4
pyparsing==3.0.1
pyrsistent==0.18.0
pystan==2.19.1.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-editor==1.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pywin32==228
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.0
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy @ file:///C:/bld/scipy_1637806857964/work
seaborn==0.11.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
setuptools-git==1.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
smmap==5.0.0
spacy==2.3.7
SQLAlchemy==1.4.26
sqlparse==0.4.2
srsly==1.0.5
statsmodels==0.13.0
streamlit==1.4.0
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
terminado==0.12.1
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.0.0
toml==0.10.2
toolz==0.11.1
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///tmp/build/80754af9/traitlets_1632522747050/work
tweepy==4.4.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
tzdata==2021.5
tzlocal==4.0.2
ujson==4.3.0
umap-learn==0.5.1
unicodedata2 @ file:///D:/bld/unicodedata2_1637177842659/work
urllib3==1.26.7
validators==0.18.2
visions==0.7.4
waitress==2.0.0
wasabi==0.8.2
watchdog==2.1.6
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.8.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1639125986756/work
yarg==0.1.9
yellowbrick==1.3.post1
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
